<%- include ../layout/header -%>

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
    <div class="col-4">

        <br/>
        <h1><%= title %></h1>
        <form action="" method="post">

            <div class="form-group">
                <label class="">
                    Username
                </label>
                <input type="text" class="form-control" name="username">
            </div>


            <div class="form-group">
                <label class="">
                    รหัสผ่าน
                </label>
                <input type="password" class="form-control" name="password">
            </div>


            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success">
                <a href="/authen/register" class="btn btn-link">Register</a>
            </div>

        </form>

    </div>
</div>



<%- include ../layout/footer -%>